@page "/show"
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<ShowCaseIndex> Loc

<PageTitle>@Loc["CdCSharp NjBlazor - ShowCase"]</PageTitle>

<span>
    @Loc["Explore each component separately"]
</span>

<h2>@Loc["Main Features"]</h2>

<div class="nj-p-2">
    <NavLink href="/thememode">@Loc["Theme Mode"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/grid">@Loc["Grid"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/table">@Loc["Table"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/audio">@Loc["Audio"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/colorpicker">@Loc["ColorPicker"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/containers">@Loc["Containers"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/tree">@Loc["Tree"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/controls">@Loc["Controls"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/forms">@Loc["Forms"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/localization">@Loc["Localization"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/media">@Loc["Media"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/spinner">@Loc["Spinner"]</NavLink>
</div>

<h2>@Loc["Other Features"]</h2>

<div class="nj-p-2">
    <NavLink href="/colorspalette">@Loc["Colors Palette"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/iconslist">@Loc["Icon List"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/codehighlight">@Loc["Code Highlight"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/layout">@Loc["Layout"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/tabs">@Loc["Tabs"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/stack">@Loc["Stack"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/devicemanager">@Loc["Device Manager"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/draggable">@Loc["Draggable"]</NavLink>
</div>
<div class="nj-p-2">
    <NavLink href="/markdownrender">@Loc["Markdown Renderer"]</NavLink>
</div>