@using CdCSharp.NjBlazor.Core.Css
@using CdCSharp.NjBlazor.Features.Containers.Components
@using CdCSharp.NjBlazor.Features.Media.Components

@namespace CdCSharp.NjBlazor.Features.Forms.File.Variants

@inherits NjInputFileBase

@* <CssInclude SettingsName="@nameof(CdCSharp.NjBlazor.Features.Forms.File)" Refs="@(new string[]{
"_content/CdCSharp.NjBlazor.Features.Forms.File/css/main.css",
"_content/CdCSharp.NjBlazor.Features.Forms.File/CdCSharp.NjBlazor.Features.Forms.File.bundle.scp.css"
})" /> *@

<NjInputControl FormControl="@FormControl" Disabled="@Disabled">

    @if (ImagesData.Any())
    {
        foreach (string imageData in ImagesData)
        {
            <img src="@imageData" style="@($"width:{PreviewWidthPixels}px;")" />
        }
    }

    @if (!Multiple || CurrentValue == null || CurrentValue.Length < MaxFiles)
    {
        <div class="@(AsClass(
                "nj-input",
                "nj-input-file",
                "nj-input-file-variant-outline",
                CssTools.CalculateCssPaddingClass(Padding),
                FocusClass,
                Class))">

            @if (PreAdornment != null)
            {
                <div class="nj-adornment-icon nj-input-pre-adornment">
                    <NjSvgIcon Icon="@PreAdornment" Color="@PreAdornmentColor" />
                </div>
            }

            <input @ref="@InputReference"
                   accept="@ExtensionsAccept"
                   type="file"
                   multiple="@Multiple"
                   readonly="@ReadOnly"
                   @onclick:preventDefault="@ReadOnly"
                   class="nj-input-root" />

            <span class="nj-input-file-button">@Text</span>

            @if (PostAdornment != null)
            {
                <div class="nj-adornment-icon nj-input-post-adornment">
                    <NjSvgIcon Icon="@PostAdornment" Color="PostAdornmentColor" />
                </div>
            }

        </div>
        @if (CurrentValue != null)
        {
            <span>@string.Join(",", CurrentValue.Select(f => f.Name))</span>
        }
    }

</NjInputControl>

@code {

}