@using CdCSharp.NjBlazor.Core
@using CdCSharp.NjBlazor.Features.Controls.Components.Button.ActionButton
@using CdCSharp.NjBlazor.Features.Controls.Components.Button.LinkButton
@using CdCSharp.NjBlazor.Features.Controls.Components.Button.TextButton
@using CdCSharp.NjBlazor.Features.DeviceManager.Components
@using CdCSharp.NjBlazor.Features.Layout.Components.Grid
@using CdCSharp.NjBlazor.Features.Layout.Components.Stack
@using CdCSharp.NjBlazor.Features.Media.Components
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Footer> Loc

<NjDeviceManager @ref="_deviceManager" DeviceWidthChanged="StateHasChanged" />

<footer>
    <NjGrid JustifyItems="JustifyItemsMode.Center" AlignItems="AlignItemsMode.Center">
        <NjGridCell Row="1">
            <NjStack Direction="FlexDirectionMode.Column" Spacing="1">
                <NjImage Width="50" Height="50"
                         Src="./njframework512.svg"
                         AlignSelf="AlignSelfMode.FlexStart"
                         Alt="Nj Blazor Logo" />
                <h4 class="logofont" style="color:var(--palette-primary);">NjBlazor</h4>
                <span>@Loc["Samuel Maícas"]</span>
                <span>@Loc["@cdcsharp"]</span>
                <span>@Loc["Spain"]</span>
                <NjStack Direction="FlexDirectionMode.Row" Spacing="0">
                    <NjLinkButton Icon="@Features.Media.Icons.NjIcons.Custom.Brands.Discord" Href=""></NjLinkButton>
                    <NjLinkButton Icon="@Features.Media.Icons.NjIcons.Custom.Brands.GitHub"></NjLinkButton>
                </NjStack>
            </NjStack>
        </NjGridCell>
        <NjGridCell Row="@(_deviceManager?.GetByWidth(2, 1) ?? 2)">
            <NjStack Direction="FlexDirectionMode.Row" Spacing="1" JustifyContent="JustifyContentMode.SpaceBetween">
                <NjStack Direction="FlexDirectionMode.Column" Spacing="1">
                    <NjLinkButton Text="@Loc["Help"]" Href="/help"></NjLinkButton>
                    <NjLinkButton Text="@Loc["Issues"]" Href="https://github.com/smaicas/CdCSharp.NjBlazor/issues"></NjLinkButton>
                    <NjLinkButton Text="@Loc["Contribute"]" Href="https://github.com/smaicas/CdCSharp.NjBlazor/blob/master/CONTRIBUTE.md"></NjLinkButton>
                </NjStack>
                <NjStack Direction="FlexDirectionMode.Column"
                         Spacing="1">
                    <NjLinkButton Text="@Loc["Roadmap"]" Href="https://github.com/smaicas/CdCSharp.NjBlazor/blob/master/ROADMAP.md"></NjLinkButton>
                    <NjLinkButton Text="@Loc["Live Development"]" Href="https://www.twitch.tv/cdcsharp"></NjLinkButton>
                    <NjLinkButton Text="@Loc["License"]" Href="https://github.com/smaicas/CdCSharp.NjBlazor/blob/master/LICENSE"></NjLinkButton>
                </NjStack>
            </NjStack>
        </NjGridCell>
    </NjGrid>

    <NjStack Direction="FlexDirectionMode.Row" class="nj-p-5">
        <span>@Loc["Copyright © 2025 CdCSharp.NjBlazor"]</span>
    </NjStack>

</footer>

@code {
    NjDeviceManager? _deviceManager;
}
