@using CdCSharp.NjBlazor.Core.Css
@using CdCSharp.NjBlazor.Features.Containers.Components
@using CdCSharp.NjBlazor.Features.Controls.Components.Button.TextButton.ActivableTextButton

@namespace CdCSharp.NjBlazor.Features.Controls.Components.Button.TextButton.ActivableTextButton.Variants

@inherits NjActivableTextButtonBase

<NjInputControl FormControl="@FormControl" Disabled="@Disabled">

    <div @attributes="FilteredAdditionalAttributes"
         class="@(AsClass(
        "nj-input",
        "nj-text-button",
        "nj-leftline",
        FocusClass,
        ActivableFeature.Feature.ActiveClass,
        CssTools.CalculateCssPaddingClass(Padding),
        Class))">
        <input type="button"
               class="@(AsClass(
                "nj-input-root",
                CssTools.CalculateCssPaddingClass(10)))"
               value="@Text"
               @onfocus="OnFocusAsync"
               @onfocusout="OnFocusOutAsync"
               @onclick="ProcessClickAsync" />
    </div>

</NjInputControl>


@code {

}